body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: white;
}

h1 {
  color: white;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 0;
  font-family: 'Ramabhadra', sans-serif;
}


h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Ramabhadra', sans-serif;
  margin-bottom: 25px;
  margin-top: 25px;
}

h3 {
  color: white;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* containters */
.container-fluid {
  padding: 3% 7%;
}


/* NAVBAR  */
.navbar {
  padding: 0.5rem 0 0;
  display: flex;
  color: white;
}

.nav-item {
  padding: 0 18px;
  white-space: nowrap;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: inherit;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: inherit;
}

.mail-image {
  text-align: right;
  width: 70%;
}

.gallery-mail-image {
  text-align: right;
  width: 45%;
}

.navbar-icon-1 {
  color: white;
  font-size: 1.5rem;
  padding-right: 25px;
}

.navbar-icon-2 {
  color: white;
  font-size: 1.5rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.banner {
  padding-top: 10px;
}


/* TOP SECTION */
.top-section {
  background-image: url("../assets/lb2.jpeg");
  background-size: 2000px;
  height: 630px;
}

.surf-logo-top {
  height: 100px;
  margin-right: 30px;
}

.surf-logo-btm {
  height: 80px;
  margin-left: 30px;
}




/* SERVICES SECTION */

.services-icon {
  height: 100px;
  padding: 15px 10px 15px;
}

.fin {
margin-left: 15px;
}

.light-icon {
  opacity: 0.8;
}

.services-subtitle {
  color: #3f5459;
  padding-bottom: 10px;
}

/* ABOUT */
.about {
  background-color: #3f5459;
}

.about-card {
  max-width: 1200px;
  margin: 40px auto;
}

.about-pic {
  display: flex;
  align-items: center;
}

.about-copy {
  align-items: center;
  display: flex;
}

.about-img {
  padding: 10px;
}

.card-title {
  color: #3f5459;
  margin-bottom: 2rem;
}

.card-text {
  text-align: left;
  color: #3f5459;
}


/* TESTIMONIALS */
.testimonial-photo {
  height: 100px;
  border: 2px solid #3f5459;
  border-radius: 50%;
  margin-bottom: 20px;
}

.dark-title {
  color: #3f5459;
}


/* CONTACT/BOOKING SECTION */

.contact-section {
  background-color: #3f5459;
  color: white;
}

.contact-title {
  margin-bottom: 50px;
}

.service-list {
  text-align: justify;
}



.contact-content {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-right: 25px;
  margin-bottom:25px;
}

.contact-info {
  text-align: left;
  vertical-align: top;
  font-weight: 400;
}

.hover-text {
  margin-left: 5px;
}

.hover-text:hover {
  text-decoration: underline;
  color: white;
}

.map {
  width: 360px;
  height: 390px;
  position: relative;
  margin: 0 0 25px 25px;
  display: inline-block;
}

.underline-link {
  text-decoration: underline;
}

.underline-link:hover {
  color: inherit;
}

/* Footer */

.footer-icon {
  color: #3f5459;
  font-size: 2rem;
  margin: 25px 25px 10px 25px;
}

.website-design {
  font-size: .8rem;
}

/* GALLERY PAGE */

.gallery {
  column-count: 4;
  column-gap: 0;
}

.image-container {
  position: relative;
}

.gallery-img {
  width: 100% !important;
  height: auto !important;
  cursor: pointer;
  border: 3px solid white;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox .main-image {
  position: absolute;
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: white;
  border: 2px solid white;
}

#lightbox .close-image {
  position: absolute;
  right:2%;
  top: 2%;
  max-width: 50px;
  margin: 10px;
}

#lightbox .close-image:hover {
cursor: pointer;
}



.close {
  display:none;
  height: 40px;
}


/* WIDE MONITORS */
@media (min-width:1400px) {

  /* Navbar  */


/* Gallery Page */
  .gallery-mail-image {
    text-align: right;
    width: 50%;
  }

  .gallery {
    column-count: 4;
  }

}



/*  TABLET */
@media (max-width: 991px) {

  .mail-image {
    text-align: center;
    width: inherit;
    margin-top: 10px;
  }

  .top-section {
    height: 720px;
  }

  /* ABOUT SECTION */
  .bio {
    display: block;
  }

  .bio-pic {
    width: 25%;
  }

  .map {
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: 0;
  }

  /* TESTIMONIALS SECTION */
  .testimonial-photo {
    height: 100px;
    border: 2px solid #3f5459;
    border-radius: 50%;
    margin-bottom: 20px;
  }


  /* CONTACT SECTION */
  .contact-content {
    margin: 0 50px 0 50px;
    text-align: center;
    width: auto;
  }

  .map {
    margin-top: 25px;
    margin-right: 0;
  }

  .contact-info {
    text-align: center;
  }

  .contact-subtitle {
    text-align: center;
    padding: 0 50px;
  }

  .price-list {
    width:50%;
    text-align: left;
    padding-left: 50px;
  }

  .service-list {
    width:50%;
    text-align: right;
  }

/* Gallery Page */

  .gallery-mail-image {
    text-align: center;
    width: inherit;
    margin-top: 10px;
  }

  .gallery {
    column-count: 3;
  }

}



@media (max-width: 767px) {

  .about-card {
    max-width: 540px;
    margin: 40px 10%;
  }

}



/* MOBILE */
@media (max-width: 576px) {
  .gallery-title {
    font-size: 3.5rem;
  }

  .mobile-title {
    font-size: 2.5rem;
  }

  .title {
    margin-top: 100px;
  }

  .about-card {
    max-width: 540px;
    margin: 40px 10%;
  }

  .contact-info {
    height: auto;
    text-align: center;
  }

  .contact-subtitle {
    text-align: center;
  }

  .contact-content {
    margin: 0;
  }

  .map {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-left: 0;
  }


/* Gallery Page */

  .gallery {
    column-count: 2;
  }


}

/* Fix for firefox (Price list) */
@-moz-document url-prefix() {
    .service-list {
      width: 40%;
    }
}
